form label {
  display: inline-block;
  width: 100px;
}

form div {
  margin-bottom: 10px;
}

/*mac dinh error cho validate jquerry*/
.error {
  color: red;
  margin-left: 5px;
}

label.error {
  display: inline;
}

/* cai nay phai goi ra id hay class de xai */
input.invalid, textarea.invalid, select.invalid
{
    background-color: #ffdddd;
    color:blue;
}